@import '../../../assets/variables';

label {
    margin-right: 0.3em;
    display: inline-block;
}

.select-wrapper {
    display: inline-block; // ensure that container wraps around select box
    position: relative;

    select {
        background-color: lightgrey;
        border-color: black;
        -webkit-appearance: none; // remove chrome styling
        -webkit-border-radius: 0; // remove chrome rounded corners
        padding-left: 0.3em;
        padding-right: 1.8em;
    }

    i {
        width: $line-height;
        background-color: grey;
        text-align: center;
        position: absolute;
        top: 1px;
        right: 1px;
        pointer-events: none; // enables click through to the select box
    }
}
